* {text-decoration: none;}
body {
    margin: 0;
    z-index: 2;
    overflow-x: hidden;
}
#div-for-animated-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #9852ff, #95ff6e, #ff7b78);
    background-size: 400% 400%;
    animation: bg-color-animation 10s ease infinite;
    z-index: -1;
}
@keyframes bg-color-animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
/* Top navbar */
#top-nav {
    position: fixed;
    width: 100%;
    top: 0;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
}
#top-nav-brand {
    float: left;
    margin-left: 10px;
    font-size: x-large;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
#top-nav-urls {
    float: right;
    display: inline-block;
    font-size: x-large;
    margin-right: 10px;
}
.top-nav-link {
    color: #5b5e5c;
}
@media screen and (max-width: 768px) {
    #top-nav-urls {
        display: none;
    }
    #top-nav-brand {
        float: none;
    }
    #top-nav {
        text-align: center;
    }
}

/* Section */
section {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    max-width: 75%;
    margin-top: 5em;
    text-align: center;
    border-radius: 5%;
    padding: 25px;
    background-color:rgba(0, 0, 0, 0.2)
}

/* About section */
#about {
    display: flex;
    flex-direction: row;
}
#about-left, #about-right {
    padding: 25px;
}
#about-left {
    border-right: #eedb4b solid 3px;
}
#about div img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#hobbies {
    display: none;
}
.social-icon svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.social-icon {
    background-color: inherit;
    color: rgba(0, 0, 0, 0);
}
@media screen and (max-width: 920px){
    #about-left, #about-right {
        padding: 0;
    }
    #about-left {
        border-right: none;
    }
    #about {
        flex-direction: column;
    }
}

/* Blogs and projects section */
#projects, #blogs {
    display: flex;
    flex-direction: column;
}
#projects-list, #blogs-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.project, .blog {
    margin-right: 20px;
    margin-bottom: 20px;
}
.project:hover, .blog:hover {
    transform: scale(1.05);
    border: rgba(0, 0, 0, 0.2) solid 3px;
}
.project a div img, .blog a div img {
    width: 300px;
    height: 300px;
    border-radius: 2%;
}
.project-description, .blog-description {
    float: left;
    width: 65%;
    transform: translate(0, 50%);
    color: #301c18;
}
.cdn-img {
    float: right;
    border-left: rgba(0, 0, 0, 0.3) solid 3px;
    padding-left: 20px;
}
#all-projects, #all-blogs {
    background-color: rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    color: black;
}
#all-projects:hover, #all-blogs:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
@media screen and (max-width: 1270px){
    .project-description, .blog-description {
        float: none;
        width: 100%;
        transform: none;
    }
    .cdn-img {
        float: none;
        border-left: none;
        padding-left: 0;
    }
}

/* Contact section */
#contact {
    margin-top: 5em;
    margin-bottom: 5em;
    text-align: center;
}
#contact-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}
#contact-list li a svg {
    width: 100px;
    height: 100px;
    margin: 10px;
}
.social svg {
    width: 30px;
    height: 30px;
    margin: 10px;
}

/* Footer */
footer {
    margin-top: 5em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}
footer * {
    color: #ecdfbf;
}